<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css?2">
    <script src="http://projects.sfchronicle.com/shared/js/jquery.min.js"></script>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="overlay-instructions" id="instructions-overlay">
      <div class="instructions-box" id="instructions-box">
        <div class="close-button" id="close-data-box"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="instructions"><%=json.plaza_poll["Instructions-Blank"]%></div>
      </div>
      <div class="instructions-box" id="instructions-box-writein">
        <div class="close-button" id="close-data-box-writein"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="instructions"><%=json.plaza_poll["Instructions-Nowritein"]%></div>
      </div>
      <div class="instructions-box" id="instructions-box-cookie">
        <div class="close-button" id="close-data-box-cookie"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="instructions">You already voted! Thank you for voting but you can only vote once.
          <div class="see-results button" id="see-results">See results</div>
        </div>
      </div>
    </div>

    <div class="banner"><a href="http://www.sfchronicle.com/" target="_blank">San Francisco Chronicle Poll</a></div>

    <div class="poll-container">

      <div class="big-hed"><%=json.plaza_poll.BigHeadline%></div>
      <div class="social-wrapper centered">

        <div class="link social">
          <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.sfchronicle.com%2F<%= grunt.data.json.project.year %>%2F<%= grunt.data.json.project.slug %>&text=<%= grunt.data.json.project.twitter_text %>&hashtags=<%= grunt.data.json.project.hashtag %>">
            <i class="fa fa-twitter"></i>
          </a>
        </div>

        <div class="link social">
          <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F<%= grunt.data.json.project.year %>%2F<%= grunt.data.json.project.slug %>', 'facebook-share-dialog', 'width=626,height=436'); return false;">
            <i class="fa fa-facebook"></i>
          </a>
        </div>

        <div class="link social email">
          <a id="mail-icon" title="Share via email" href="mailto:?subject=<%= grunt.data.json.project.title %>&body=<%= grunt.data.json.project.description %>%0A%0Ahttp%3A%2F%2Fprojects.sfchronicle.com%2F<%= grunt.data.json.project.year %>%2F<%= grunt.data.json.project.slug %>">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <div class="plaza-img">
        <img src="./assets/photos/place0816.7.jpg"></img>
        <div class="caption"><span class="byline">Gabrielle Lurie, The Chronicle</div>
      </div>

      <div id="poll-question">

        <div class="question"><%=json.plaza_poll.Question%></div>

        <% json.plaza_poll.answers.forEach(function(d,dIDX){ %>

          <div id="answer<%=dIDX%>"><span class="answer" id="answer<%=dIDX%>icon"><i class="fa fa-square-o" aria-hidden="true"></i></span><span class="answer-text" id="answer<%=dIDX%>text"><%=d.Answer%></span></div>

        <% }); %>

        <div id="writein"><span class="answer" id="writeinicon"><i class="fa fa-square-o" aria-hidden="true"></i></span><input placeholder="Write-in name" id="writeininput"></input></span></div>

        <div class="submit-answer button" id="submit"><%=json.plaza_poll.Submit%></div>

      </div>

      <div id="stick-here"></div>

      <div id="poll-results" class="hide">
        <div class="poll-hed"><%=json.plaza_poll["Poll-Hed"]%></div>
        <div class="poll-deck"><%=json.plaza_poll["Poll-Deck"].replace("INSERTHERE","<span id='your-vote'></span>")%></div>
        <div id="personal-sharing-here"></div>
        <div id="results-chart"></div>
      </div>

      <div class="credit-container">
        <div class="credit">Poll by: <a href="mailto:torourke@sfchronicle.com">Tim O'Rourke</a></div>
        <div class="credit">Interactive producer: <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a></div>
        <div class="credit">Developer: <a href="mailto:cwirtanen@sfchronicle.com">Clint Wirtanen</a></div>

        <div class="source">Disclaimer: <%=json.plaza_poll["Disclaimer"]%></div>
      </div>

    </div>

    <script>
      var pollOptions = <%= JSON.stringify(json.plaza_poll.answers) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
